{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Your Tasks</title>
		<link
			rel="stylesheet"
			href="{% static 'styles.css' %}"
		/>
	</head>
	<body>
		<div class="container">
			<h1>Your Tasks</h1>
			<a
				href="{% url 'add_task' %}"
				class="add-task"
				>Add New Task</a
			>
			{% if tasks %}
			<ul>
				{% for task in tasks %}
				<li>
					<span class="{% if task.completed %}completed{% endif %}"
						>{{ task.title }}</span
					>
					<div>
						<a href="{% url 'edit_task' task.id %}">Edit</a>
						<a href="{% url 'delete_task' task.id %}">Delete</a>
					</div>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>
				No tasks found.
				<a href="{% url 'add_task' %}">Add a new task</a>.
			</p>
			{% endif %}
		</div>
	</body>
</html>
